<footer class="border-top footer text-muted text-center">
    <div class="container">
        copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:Usama88617@outlook.com">Usama88617@outlook.com</a>
        *@
        <cutom-email my-email="usama88617@outlook.com"></cutom-email>
    </div>

</footer>