
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";


}
@inject _14_Models_in_Asp.net_Core.Repositores.IBookRepository _bookRepository
<style>
    .jumbotron {
        background: none;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0,0,0, .05);
    }

    button-accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }
</style>
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome To BookStore @ViewData["property"]</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer
            took a galley of type and scrambled it to make a type specimen book it has
        </p>
        <p>
            <a href="#" class="btn btn-danger my-2">Search Books</a>
        </p>
        @*@foreach (var item in await _bookRepository.GetAllBooks())
        {
            <h2>@item.Title</h2>
        }*@
    </div>
    
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>

        <component>
            @await Component.InvokeAsync("TopBooks", new {count = 3} )
        </component>
        
    @*<component>
        <vc:top-books count="3"></vc:top-books>
    </component>*@

       


    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function()
          {
         // alert("document is ready");           
        });
        
    </script>

}
