@model IEnumerable<BookModel>

@using WebApp

@using WebApp.Views

@namespace WebApp.Views.Shared.Component.TopBooks

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">

    @foreach (var book in Model)
    {
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="book" />
        </div>
    }
</div>

